body {
	padding: 0;
	margin: 0;
	top: 0;
	height: 100vh;
	justify-self: center;
	align-items: center;
	background-color: #FFFFFF;
}
.section{
	margin: 0;
	padding: 0;
	top:0;
	height: 123vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.slide{
	width: 500%;
	height: 500px;
	display: flex;
}
.slide input{
	display: none;
}
.st{
	width: 20%;
	transition: 2s;
}
.st img{
	width: 800px;
	height: 500px;
}
.nav-m{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}
.m-btn{
	border: 2px solid #00FFDE;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.m-btn:not(:last-child){
	margin-right: 30px;
}
.m-btn:hover{
	background-color: #00FFDE;
}
#radio1:checked ~.first{
	margin-left: 0;
}
#radio2:checked ~.first{
	margin-left: -20%;
}
#radio3:checked ~.first{
	margin-left: -40%;
}
#radio4:checked ~.first{
	margin-left: -60%;
}
.nav-auto{
	position: absolute;
	width: 800px;
	margin-top: 460px;
	display: flex;
justify-content: center;
}
.nav-auto div{
	border: 2px solid #00FFDE;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.nav-auto div:not(:last-child){
	margin-right: 30px;
	justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
	background-color: #00FFDE;

}
}
#radio2:checked ~ .nav-auto .a-b2{
	background-color: #00FFDE;
	
}
}
#radio3:checked ~ .nav-auto .a-b3{
	background-color: #00FFDE;
	
}
}
#radio4:checked ~ .nav-auto .a-b4{
	background-color: #00FFDE;
	
}
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.contenedor{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.contenedor figure{
	position: relative;
	height: 250px;
	cursor: pointer;
	width: 340px;
	overflow: hidden;
	border-radius: 56px;
	box-shadow: 0px 15px 25px;
}
.contenedor figure img{
	width: 100%;
	height: 100%;
	transition: all 400ms ease-out;
}
.contenedor figure .capa{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: lightskyblue;
	opacity: 0;
	text-align: center;
	visibility: hidden;
	transition: all 400ms ease-out;
}
.contenedor figure:hover .capa{
	opacity: 1;
	visibility: visible;
}
.contenedor figure:hover .capa h3{
	margin-top: 70px;
	margin-bottom: 15px;
}
.contenedor figure:hover img{
	transform: scale(1.3);
}
.contenedor figure .capa h3{
	color: white;
	font-weight: 400;
	margin-bottom: 120px;
	transition: all 400ms ease-out;
	margin-top: 30px;
}
.contenedor figure .capa p{
	color: black;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
	max-width: 220px;
	margin: auto;
}
#Rubicon {
    position: relative;
    left: -350px;
    bottom: 205px;
    top: 19px;
}
#blac {
    position: relative;
    left: 15px;
    bottom: 205px;
    top: -300px;
}
#bla {
    position: relative;
    left: 380px;
    bottom: 205px;
    top: -731px;
}
.btn-1 {
	display: inline-block;
	padding: 10px 25px;
	color: #FFFFFF;
	background-color: #FF8400;
	text-transform: uppercase;
	border-radius: 25px;
	font-size: 16px;
}
.btn-1:hover {
	background-color: #F38004;
}
.header-img {
	flex-basis: 50px;
}

.services {
	padding: 80px 0;
	text-align: center;
}
.caja-1
{
	text-align: center;
	background-color: transparent;
}
.caja-2
{
	text-align: center;
	background-color: transparent;
}
.caja-3
{
	text-align: center;
	background-color: transparent;
}

.caja
{
	height: 450px;
	width: 200px;
}




